﻿/*! normalize.css v3.0.1 | MIT License | git.io/normalize */
/**
 * 1. Set default font family to sans-serif.
 * 2. Prevent iOS text size adjust after orientation change, without disabling
 *    user zoom.
 */
html {
  font-family: sans-serif;
  /* 1 */
  -ms-text-size-adjust: 100%;
  /* 2 */
  -webkit-text-size-adjust: 100%;
  /* 2 */ }

/**
 * Remove default margin.
 */
body {
  margin: 0; }

/* HTML5 display definitions
   ========================================================================== */
/**
 * Correct `block` display not defined for any HTML5 element in IE 8/9.
 * Correct `block` display not defined for `details` or `summary` in IE 10/11 and Firefox.
 * Correct `block` display not defined for `main` in IE 11.
 */
article, aside, details, figcaption, figure, footer, header, hgroup, main, nav, section, summary {
  display: block; }

/**
 * 1. Correct `inline-block` display not defined in IE 8/9.
 * 2. Normalize vertical alignment of `progress` in Chrome, Firefox, and Opera.
 */
audio, canvas, progress, video {
  display: inline-block;
  /* 1 */
  vertical-align: baseline;
  /* 2 */ }

/**
 * Prevent modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */
audio:not([controls]) {
  display: none;
  height: 0; }

/**
 * Address `[hidden]` styling not present in IE 8/9/10.
 * Hide the `template` element in IE 8/9/11, Safari, and Firefox < 22.
 */
[hidden], template {
  display: none; }

/* Links
   ========================================================================== */
/**
 * Remove the gray background color from active links in IE 10.
 */
a {
  background: transparent; }

/**
 * Improve readability when focused and also mouse hovered in all browsers.
 */
a:active, a:hover {
  outline: 0; }

/* Text-level semantics
   ========================================================================== */
/**
 * Address styling not present in IE 8/9/10/11, Safari, and Chrome.
 */
abbr[title] {
  border-bottom: 1px dotted; }

/**
 * Address style set to `bolder` in Firefox 4+, Safari, and Chrome.
 */
b, strong {
  font-weight: bold; }

/**
 * Address styling not present in Safari and Chrome.
 */
dfn {
  font-style: italic; }

/**
 * Address variable `h1` font-size and margin within `section` and `article`
 * contexts in Firefox 4+, Safari, and Chrome.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0; }

/**
 * Address styling not present in IE 8/9.
 */
mark {
  background: #ff0;
  color: #000; }

/**
 * Address inconsistent and variable font size in all browsers.
 */
small {
  font-size: 80%; }

/**
 * Prevent `sub` and `sup` affecting `line-height` in all browsers.
 */
sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -0.5em; }

sub {
  bottom: -0.25em; }

/* Embedded content
   ========================================================================== */
/**
 * Remove border when inside `a` element in IE 8/9/10.
 */
img {
  border: 0; }

/**
 * Correct overflow not hidden in IE 9/10/11.
 */
svg:not(:root) {
  overflow: hidden; }

/* Grouping content
   ========================================================================== */
/**
 * Address margin not present in IE 8/9 and Safari.
 */
figure {
  margin: 1em 40px; }

/**
 * Address differences between Firefox and other browsers.
 */
hr {
  box-sizing: content-box;
  height: 0; }

/**
 * Contain overflow in all browsers.
 */
pre {
  overflow: auto; }

/**
 * Address odd `em`-unit font size rendering in all browsers.
 */
code, kbd, pre, samp {
  font-family: monospace, monospace;
  font-size: 1em; }

/* Forms
   ========================================================================== */
/**
 * Known limitation: by default, Chrome and Safari on OS X allow very limited
 * styling of `select`, unless a `border` property is set.
 */
/**
 * 1. Correct color not being inherited.
 *    Known issue: affects color of disabled elements.
 * 2. Correct font properties not being inherited.
 * 3. Address margins set differently in Firefox 4+, Safari, and Chrome.
 */
button, input, optgroup, select, textarea {
  color: inherit;
  /* 1 */
  font: inherit;
  /* 2 */
  margin: 0;
  /* 3 */ }

/**
 * Address `overflow` set to `hidden` in IE 8/9/10/11.
 */
button {
  overflow: visible; }

/**
 * Address inconsistent `text-transform` inheritance for `button` and `select`.
 * All other form control elements do not inherit `text-transform` values.
 * Correct `button` style inheritance in Firefox, IE 8/9/10/11, and Opera.
 * Correct `select` style inheritance in Firefox.
 */
button, select {
  text-transform: none; }

/**
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *    and `video` controls.
 * 2. Correct inability to style clickable `input` types in iOS.
 * 3. Improve usability and consistency of cursor style between image-type
 *    `input` and others.
 */
button, html input[type="button"], input[type="reset"], input[type="submit"] {
  -webkit-appearance: button;
  /* 2 */
  cursor: pointer;
  /* 3 */ }

/**
 * Re-set default cursor for disabled elements.
 */
button[disabled], html input[disabled] {
  cursor: default; }

/**
 * Remove inner padding and border in Firefox 4+.
 */
button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0; }

/**
 * Address Firefox 4+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */
input {
  line-height: normal; }

/**
 * It's recommended that you don't attempt to style these elements.
 * Firefox's implementation doesn't respect box-sizing, padding, or width.
 *
 * 1. Address box sizing set to `content-box` in IE 8/9/10.
 * 2. Remove excess padding in IE 8/9/10.
 */
input[type="checkbox"], input[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
 * Fix the cursor style for Chrome's increment/decrement buttons. For certain
 * `font-size` values of the `input`, it causes the cursor style of the
 * decrement button to change from `default` to `text`.
 */
input[type="number"]::-webkit-inner-spin-button, input[type="number"]::-webkit-outer-spin-button {
  height: auto; }

/**
 * 1. Address `appearance` set to `searchfield` in Safari and Chrome.
 * 2. Address `box-sizing` set to `border-box` in Safari and Chrome
 *    (include `-moz` to future-proof).
 */
input[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  /* 2 */
  box-sizing: content-box; }

/**
 * Remove inner padding and search cancel button in Safari and Chrome on OS X.
 * Safari (but not Chrome) clips the cancel button when the search input has
 * padding (and `textfield` appearance).
 */
input[type="search"]::-webkit-search-cancel-button, input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

/**
 * Define consistent border, margin, and padding.
 */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em; }

/**
 * 1. Correct `color` not being inherited in IE 8/9/10/11.
 * 2. Remove padding so people aren't caught out if they zero out fieldsets.
 */
legend {
  border: 0;
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
 * Remove default vertical scrollbar in IE 8/9/10/11.
 */
textarea {
  overflow: auto; }

/**
 * Don't inherit the `font-weight` (applied by a rule above).
 * NOTE: the default cannot safely be changed in Chrome and Safari on OS X.
 */
optgroup {
  font-weight: bold; }

/* Tables
   ========================================================================== */
/**
 * Remove most spacing between table cells.
 */
table {
  border-collapse: collapse;
  border-spacing: 0; }

td, th {
  padding: 0; }

.size-1 {
  width: 8.33333%; }

.size-2 {
  width: 16.66667%; }

.size-3 {
  width: 25%; }

.size-4 {
  width: 33.33333%; }

.size-5 {
  width: 41.66667%; }

.size-6 {
  width: 50%; }

.size-7 {
  width: 58.33333%; }

.size-8 {
  width: 66.66667%; }

.size-9 {
  width: 75%; }

.size-10 {
  width: 83.33333%; }

.size-11 {
  width: 91.66667%; }

.size-12 {
  width: 100%; }

.clear {
  clear: both; }

.grid:after, .grid--last:after, .grid-group:after, .container:after, .row:after, .clear-container:after, .site-header:after, .site-footer .site-footer__upper:after, .site-footer .site-footer__lower:after, .add-platform-login-container form:after, .modal:after, .modal .platform:after, .edit-profile-input-container:after, .signup-form:after, .admin-bar:after {
  clear: both;
  content: '';
  display: table; }

.grid {
  float: left;
  padding-left: 11px;
  padding-right: 11px;
  -webkit-transition: 0.3s width;
          transition: 0.3s width; }

.grid--last {
  float: right; }

.grid-group {
  margin-left: -11px;
  margin-right: -11px;
  float: none;
  position: relative; }

.grid-group--reverse > .grid {
  float: right; }

.xlarge {
  font-size: 34px !important; }

.large {
  font-size: 24px !important; }

.medium {
  font-size: 18px !important; }

.small {
  font-size: 14px !important; }

h1, .alpha, h2, .beta, .lead {
  margin-bottom: 22px; }

h1, .alpha, h2, .beta, .lead, h3, .gamma, h4, .delta, h5, .epsilon, h6, .zeta {
  margin-top: 0; }

h1, .alpha {
  font-size: 34px;
  font-weight: 300;
  margin-bottom: 22px; }

h2, .beta, .lead {
  color: #e7674a;
  font-size: 18px;
  font-weight: 300;
  margin-bottom: 22px;
  text-transform: uppercase; }

h3, .gamma, h4, .delta, h5, .epsilon, h6, .zeta {
  font-size: 18px;
  font-weight: 400;
  margin-bottom: 0; }

.section__title {
  color: #e7674a;
  font-size: 1.9rem;
  margin: 1em 0;
  text-align: center; }

*, *:before, *:after {
  box-sizing: inherit;
  -webkit-transition: 0.2s all;
          transition: 0.2s all; }

html, *:after, *:before, button, input, textarea {
  -webkit-font-smoothing: antialiased; }

html {
  box-sizing: border-box;
  min-height: 100%;
  height: 100%;
  width: 100%; }

body {
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 16px;
  font-weight: 400;
  color: #595959;
  line-height: 1.5;
  position: relative;
  height: 100%;
  width: 100%; }

.container {
  margin: 0 auto;
  max-width: 900px;
  padding-left: 11px;
  padding-right: 11px; }
  @media only screen and (min-width: 681px) {
    .container {
      padding-left: 22px;
      padding-right: 22px; } }
  .container.center {
    margin-bottom: 88px; }
  .container.container--wide {
    max-width: 1200px; }

img {
  height: auto;
  max-width: 100%; }

a {
  color: inherit;
  text-decoration: none; }

.link, .has-link-style a {
  border-bottom: 1px dotted #9edac1;
  color: #9edac1;
  -webkit-transition: background-color 0.1s, color 0.1s;
          transition: background-color 0.1s, color 0.1s; }
  .link:visited, .has-link-style a:visited {
    border-bottom-color: #595959;
    color: #595959; }
  .link:hover, .has-link-style a:hover {
    border-bottom-style: solid; }

.is-hidden {
  display: none !important; }

@media only screen and (max-width: 680px) {
  .is-hidden--palm {
    display: none !important; } }

@media only screen and (min-width: 681px) and (max-width: 959px) {
  .is-hidden--lap {
    display: none !important; } }

@media only screen and (min-width: 681px) {
  .is-hidden--lap-and-up {
    display: none !important; } }

@media only screen and (max-width: 959px) {
  .is-hidden--portable {
    display: none !important; } }

@media only screen and (min-width: 960px) {
  .is-hidden--desk {
    display: none !important; } }

@media only screen and (min-width: 1200px) {
  .is-hidden--desk-wide {
    display: none !important; } }

@media only screen and (min-width: 1600px) {
  .is-hidden--ultra-wide {
    display: none !important; } }

.center {
  display: block;
  margin-left: auto;
  margin-right: auto; }

.alignright {
  float: right;
  margin: 22px -44px 22px 22px; }

.alignleft {
  float: left;
  margin: 22px 22px 22px -44px; }

.bottom {
  position: absolute;
  bottom: 0; }

.flex-center {
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center; }

.flush {
  margin-bottom: 0 !important; }

.slim {
  margin-bottom: 11px !important; }

.spacing {
  margin-bottom: 22px !important; }

.row {
  margin-bottom: 22px;
  width: 100%; }

.landmark {
  margin-bottom: 44px !important; }

.align-right {
  text-align: right; }

.align-center {
  text-align: center; }

.align-left {
  text-align: left; }

.caps {
  text-transform: uppercase; }

.capitalize {
  text-transform: capitalize; }

.muted {
  filter: alpha(opacity=50) !important;
  opacity: 0.5 !important; }

.bold {
  font-weight: bold; }

.normal {
  font-weight: normal; }

.light {
  font-weight: light; }

.divider {
  border: 0;
  border-bottom: 1px dotted #595959;
  padding-bottom: 22px;
  margin-bottom: 22px; }

.square {
  height: 0;
  padding-bottom: 100%; }

.rectangle {
  height: 0;
  padding-bottom: 48%;
  padding-bottom: calc(50% - 22px/2); }

button {
  border: none; }

.btn {
  border: 1px solid #595959;
  border-radius: 5px;
  color: #595959;
  display: inline-block;
  padding: 5.5px 11px; }

.btn--cta {
  background: #e7674a;
  border-color: #e7674a;
  color: #f7f7f7; }
  .btn--cta:hover {
    background-color: #e0411e; }

form {
  text-align: left; }

label {
  color: #e7674a;
    font-size: 14px;
}
  label a {
    border-bottom: 1px dotted; }
    label a:hover {
      border-bottom-style: solid; }

input[type="text"], input[type="number"], input[type="password"], textarea {
  border: 1px solid #e2e2e2;
  padding: 11px;
  width: 100%; }
  input[type="text"]:focus, input[type="number"]:focus, input[type="password"]:focus, textarea:focus {
    border: 1px solid #e7674a;
    outline: none; }

textarea {
  resize: vertical; }

input[type="submit"], input[type="submit"].btn {
  float: right;
  text-align: right; }

.edit-profile-form input[type="text"], .edit-profile-form input[type="password"] {
  margin-bottom: 11px; }
.edit-profile-form .container {
  max-width: 600px; }

p.label {
  color: #e7674a;
  margin-bottom: 0;
  margin-top: 1em; }

.splash-container {
  background-image: url('../images/splash-1.jpg');
  background-size: cover;
  height: 90vh;
  margin-bottom: 44px;
  min-height: 680px;
  position: relative; }
  @media only screen and (max-width: 680px) {
    .splash-container {
      min-height: auto; } }

.signup-container {
  background-color: #f7f7f7;
  max-width: 24em;
  padding: 22px;
  position: relative;
  top: 176px;
  text-align: center;
    border-radius: 1%;
}

  .signup-container h3 {
    margin: 22px 0; }
    .signup-container h3:before, .signup-container h3:after {
      content: "–";
      margin: 0 3px; }
  .signup-container.add-platforms {
    max-width: 25em; }
  .signup-container .btn {
    margin-top: 22px; }
  .signup-container .platform {
    border: 3px solid transparent;
    clear: left;
    display: block;
    float: left;
    position: relative;
    text-align: center; }
    .signup-container .platform:hover {
      border: 3px solid #e7674a; }
      .signup-container .platform:hover:after {
        background-color: #e7674a;
        color: #f7f7f7;
        content: "+add";
        display: block;
        position: absolute;
        bottom: -1.3em;
        left: -3px;
        right: -3px;
        z-index: 10; }
    .signup-container .platform:nth-child(2n) {
      float: right;
      clear: right; }
    .signup-container .platform button {
      background-color: #f7f7f7; }

.signup-form {
  margin-bottom: 22px; }

.social-signup-container {
    clear: both;
}

.signup-link {
    border: none;
    color: #f7f7f7;
    display: block;
    margin: 12px 0;
    padding: 12px 17px 12px 8px;
    width: 100%;
    -webkit-backface-visibility:hidden;
}

 .signup-link.signup-link--facebook {
    background-color: #3b5998; }
  .signup-link.signup-link--google {
    background-color: #db4437; }

.signup-container__profile-bio {
  resize: vertical;
  width: 100%; }

.signup-container__profile-bio-counter-container {
  color: #999;
  font-size: 0.875rem;
  text-align: right; }

.page-header {
  background-color: #e7674a;
  color: #f7f7f7;
  padding: 22px; }
  .page-header span {
    display: inline-block;
    margin-right: 5px; }
  .page-header .page-logo {
    display: inline-block;
    height: 25px;
    vertical-align: middle;
    width: auto; }

 .page-header-error {    
    margin: 20px 0 20px;
    border-bottom: 1px solid rgb(238, 238, 238);
}
.the-parties-container {
  text-align: center; }
  .the-parties-container .party-container {
    display: inline-block;
    padding: 22px;
    width: auto; }
  .the-parties-container .party-logo {
    border-radius: 50%;
    height: 150px;
    width: 150px; }
    @media only screen and (max-width: 680px) {
      .the-parties-container .party-logo {
        height: 100px;
        width: 100px; } }
  .the-parties-container .cancel-confirm, .the-parties-container .approve-confirm {
    margin: 0 22px; }
  .the-parties-container .cancel-confirm {
    color: #595959;
    border-bottom: 1px dotted #595959; }
    .the-parties-container .cancel-confirm:hover {
      border-bottom-style: solid; }

.form-custom {
    /*box-shadow: 0 0 5px rgba(0, 0, 0, .3);
    margin: 8em auto 0;
    padding: 22px;
    max-width: 400px*/
}
.form-custom .button-cancel {
    float: left;
}
.form-custom .button-ok {
    float: right;
}
.consent-form .action-container {
    text-align: center;
}
.consent-form .action-container {
    text-align: center;
}
.action-container {
    padding-top: 10px; 
}
.list-group {
    list-style-type: none;
}
.alert {
  padding: 30px;
  margin-bottom: 20px;
  border: 1px solid transparent;
  border-radius: 4px;
}
.alert h4 {
  margin-top: 0;
  color: inherit;
}
.alert .alert-link {
  font-weight: bold;
}
.alert > p,
.alert > ul {
  margin-bottom: 0;
}
.alert > p + p {
  margin-top: 5px;
}
.alert-dismissable,
.alert-dismissible {
  padding-right: 35px;
}
.alert-dismissable .close,
.alert-dismissible .close {
  position: relative;
  top: -2px;
  right: -21px;
  color: inherit;
}
.alert-success {
  color: #3c763d;
  background-color: #dff0d8;
  border-color: #d6e9c6;
}
.alert-success hr {
  border-top-color: #c9e2b3;
}
.alert-success .alert-link {
  color: #2b542c;
}
.alert-info {
  color: #31708f;
  background-color: #d9edf7;
  border-color: #bce8f1;
}
.alert-info hr {
  border-top-color: #a6e1ec;
}
.alert-info .alert-link {
  color: #245269;
}
.alert-warning {
  color: #8a6d3b;
  background-color: #fcf8e3;
  border-color: #faebcc;
}
.alert-warning hr {
  border-top-color: #f7e1b5;
}
.alert-warning .alert-link {
  color: #66512c;
}
.alert-danger {
  color: darkred;
  background-color: #f2dede;
  border-color: #ebccd1;
}
.alert-danger hr {
  border-top-color: #e4b9c0;
}
.alert-danger .alert-link {
  color: #843534;
}
.error-page {
    position: absolute;
    left: 25%;
    width: 50%;
}
.externalLoginInfo {
    font-size: 12px;
}

.left {
    float: left;
}
.right {
    float: right;
}
.button-cancel {
    background-color: whitesmoke;
    margin-top: -4px;
}