﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@(!string.IsNullOrWhiteSpace(ViewBag.Title) ? ViewBag.Title + " - " : "")deemly.co</title>

    <environment names="Development">
        <link rel="stylesheet" href="~/css/main.css" />
    </environment>
    <environment names="Staging,Production">
        <link rel="stylesheet" href="~/css/main.css" asp-append-version="true" />
    </environment>
    
    @RenderSection("header", required: false)
</head>
<body class="no-js">
    <header class="page-header"><span>Login with </span><img src="/images/site-logo--white.png" alt="deemly" class="page-logo"></header>
    <main>
        @RenderBody()
    </main>
    <footer id="footer"></footer>
    <environment names="Development">
        <script src="~/lib/jquery/dist/jquery.js"></script>
    </environment>
    <environment names="Staging,Production">
        <script src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-2.1.4.min.js" asp-fallback-src="~/lib/jquery/dist/jquery.min.js" asp-fallback-test="window.jQuery"></script>
    </environment>

    @RenderSection("scripts", required: false)
</body>
</html>
