﻿@model ErrorViewModel

@{    
    var error = Model?.Error?.Error;
    var request_id = Model?.Error?.RequestId;
}

<div class="error-page">
    <div class="page-header-error">
        <h1>Error</h1> 
    </div>
    <div class="row">
        <div>
            <div class="alert alert-danger">
                Sorry, there was an error:
                @if (error != null) {
                    <strong><em> @error</em></strong>
                }
                
                <div class="right">
                    <a class="btn button-cancel" asp-action="Login" asp-controller="Account" asp-route-returnUrl="@ViewData["ReturnUrl"]">Try again</a>
                </div>
            </div>

            @if (request_id != null)
            {
                <div class="request-id">Request Id: @request_id</div>
            }
        </div>
    </div>    
</div>
