﻿@using System.Threading.Tasks
@model LoginViewModel
@{
    ViewData["Title"] = "Log in";
}
<section class="splash-container">
    <div class="signup-container container center">    
        @if (Model.ExternalProviders.Any())
        {
            <div class="externalLoginInfo">If your deemly user is registered via Facebook or Google use:</div>
            <div class="social-signup-container">
                <form asp-controller="Account" asp-action="ExternalLogin" asp-route-returnUrl="@ViewData["ReturnUrl"]" method="post" role="form">
                    @foreach (var provider in Model.ExternalProviders)
                    {
                        <button type="submit" class="signup-link signup-link--@provider.AuthenticationScheme.ToLower()" id="@provider.AuthenticationScheme.ToLower()" name="provider" value="@provider.AuthenticationScheme" title="Log in with @provider.DisplayName">
                            <span class="icon-@provider.AuthenticationScheme.ToLower()"></span>
                            Log in with @provider.AuthenticationScheme
                        </button>
                    }
                </form>
            </div>
            <h3>Or log in with your email</h3>
        }
        else
        {
            <h3>Log in to deemly</h3>
        }
        <form asp-route="Login" class="form-custom" role="form">
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Email" class="col-md-2 control-label"></label>
                <div class="col-md-10">
                    <input asp-for="Email" class="form-control" />
                    <span asp-validation-for="Email" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group">
                <label asp-for="Password" class="col-md-2 control-label"></label>
                <div class="col-md-10">
                    <input asp-for="Password" type="password" class="form-control"/>
                    <span asp-validation-for="Password" class="text-danger"></span>
                </div>
            </div>
            <br/>
            <a href="@Url.Action("GetClientRedirectUrl", new { returnUrl = ViewData["ReturnUrl"] })">
                <button type="button" class="btn button-cancel">Cancel</button>
            </a>            
            <button type="submit" class="btn btn--cta button-ok">Log in</button>
        </form>        
    </div>    
</section>

@section Scripts {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
}
