﻿@model ConsentViewModel
@{
    string profilePrictureUrl = "https://trust.deemly.co/images/profile-image-default.png";
    string clientLogoUrl = profilePrictureUrl;
    if (!string.IsNullOrEmpty(Model.User.ProfilePictureUrl))
    {
        profilePrictureUrl = Model.User.ProfilePictureUrl;
    }

    if (!string.IsNullOrEmpty(Model.ClientLogoUrl))
    {
        clientLogoUrl = Model.ClientLogoUrl;
    }
}

<section class="page-content container">
    <div class="the-parties-container">
        <div class="party-container">
            <img src="@profilePrictureUrl" class="party-logo">
            <h2 class="party-name">@Model.User.FullName</h2>
        </div>
        <div class="party-container">
            <img src="@clientLogoUrl" class="party-logo">
            <h2 class="party-name">@Model.ClientName</h2>
        </div><br/>
        <div class="party-container">
            <strong>@Model.ClientName </strong>would like to access your basic information...
        </div>
        <div class="party-container">
            @Html.Partial("_ValidationSummary")

            <form asp-action="Index" class="consent-form">
                <input type="hidden" asp-for="ReturnUrl" />

                <div>Uncheck the permissions you do not wish to grant.</div>

                @if (Model.IdentityScopes.Any())
                {
                    <div class="panel panel-default consent-buttons">
                        <div class="panel-heading">
                            <span class="glyphicon glyphicon-user"></span>                            
                        </div>
                        <ul class="list-group">
                            @foreach (var scope in Model.IdentityScopes)
                            {
                                @Html.Partial("_ScopeListItem", scope)
                            }
                        </ul>
                    </div>
                }

                <div class="action-container">                    
                    <button name="button" value="no" class="btn cancel-confirm">Do Not Allow</button>
                    <button name="button" value="yes" class="btn btn--cta approve-confirm" autofocus>Allow</button>
                    @if (Model.ClientUrl != null)
                    {
                        <a class="pull-right btn btn-default" target="_blank" href="@Model.ClientUrl">
                            <span class="glyphicon glyphicon-info-sign"></span>
                            <strong>@Model.ClientName</strong>
                        </a>
                    }
                </div>
            </form>
        </div>
    </div>
</section>